{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_userscontrol/manage


    Example context (json):
    {

    }
}}

{{! Otra manera }}
<table class="admintable generaltable">
    <thead>
        <tr>
            <th>username</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>curso</th>
        </tr>
    </thead>
    {{#users}}
        <tbody>
            <tr>
                <td>{{username}}</td>
                <td>{{name}}</td>
                <td>{{lastanme}}</td>
                <td>curso</td>
            </tr>
        </tbody>
    {{/users}}
</table>

